<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "alchemy/pages/meta_data" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="main-wrapper">
      <div class="app" id="app">
        <%= render 'modular_admin/header' %>
        <%= render 'modular_admin/sidebar' %>

        <article class="content dashboard-page">
          <%= render 'modular_admin/stats' %>
          <%= yield %>
        </article>
      </div>
    </div>
    <%= render "alchemy/edit_mode" %>
  </body>
</html>
